.gridContainer{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px;  */
    /* col width */
    /* grid-template-columns: 100px repeat(4,200px); */
    /* grid-template-columns: 1fr 2fr 3fr 1fr 3fr; */
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 100px 100px 100px;
    /* row-gap: 10px;
    column-gap: 10px; */
    /* gap: 10px; */
    /* justify-content: space-evenly;
    align-content: center; */
    /*not align-items*/
}

.item{
    color: red;
    border: 1px solid;
    background-color: yellow;
    padding: 30px 40px;
}

/* .item:nth-child(1){ 
    grid-column-start: 1;
    grid-column-end: 3;
} */

.item:nth-child(1){ 
    /* grid-column-start: 3;
    grid-column-end: -1; */
    /* shorthand property */
    grid-column: 3/-1;
    /* grid-row-start: 2;
    grid-row-end: 3; */
    grid-row: 2/3
}

.item:nth-child(8){
    grid-column: 2/3;
    grid-row: 1/2;
}