body{
    height: 100vh;
    display: grid;
    background-color:gainsboro;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "nav main";
}
header{
    grid-area:header;
    background-color:blue;
    text-align: center;
    color:white;
    padding:20px;
    font-size: 30px;
}
nav{
    grid-area:nav;
    background-color:black;
    color:white;
    padding: 20px;
}
main{
    grid-area: main;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.g1{
    margin-top: 20px;
    margin-left: 5px;
    background-color:white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid blue;
} 
.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
}
.g2{
    margin-left: 5px;
    background-color:white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}